<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Simple Api Pahlawan Nasional</h1>
            <p>Welcome Simple Api Pahlawan Nasional, You can read all documentation of this API in this site</p>
            <h2>Variable</h2>
            <p>
                You can use Get Method with endpoint /api/pahlawan to get listPahlawan datas. 
                <br>
                You can use Get Method with endpoint /api/pahlawan/id to get listPahlawan data with id 
                <br>
                You can wait next feature from our repository in Github. 
            </p>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>